<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/99df909021.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/public/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <title>PortalNews</title>
  </head>
  <body>
    <header>
      <div class="logo-menu">
        <div class="menu">
          <i class="fa-sharp fa-solid fa-list"></i>
        </div>
        <div class="logo">
          <h2>
            <a href="/"
              ><span style="font-weight: lighter">portal</span><b>News</b></a
            >
          </h2>
        </div>
        <!--logo-->
        <div class="form-busca">
          <form action="/">
            <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
            <input name="busca" type="text" placeholder="Busca..." />
          </form>
        </div>
        <!--form-busca-->
        <div class="form-busca-mobile">
          <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
        </div>
        <!--form-busca-mobile-->
      </div>
    </header>
    <!--header-->
  </body>
</html>
