<%- include('partials/header.html') %>

<section class="other-news">
  <div class="title-other-news">
    <h2>Busca</h2>
    <br /><br />
    <div class="center">
      <div style="width: 100%" class="most-read">
        <h3>33 resultados</h3>
        <div class="most-read-news">
          <div class="most-read-news-single">
            <img src="../public/images/nature.png" alt="" />
            <div class="text-most-read-single">
              <h4>NATUREZA</h4>
              <p>
                A importância da floresta do ártico para a biodiversidade
                mundial. Qual o impacto o degelo na fauna e flora?
              </p>
              <a href="/encarar-o-surf">Saiba mais</a>
            </div>
            <!--text-most-read-single-->
          </div>
          <!--most-read-news-single-->
          <div class="most-read-news-single">
            <img src="../public/images/nature.png" alt="" />
            <div class="text-most-read-single">
              <h4>NATUREZA</h4>
              <p>
                A importância da floresta do ártico para a biodiversidade
                mundial. Qual o impacto o degelo na fauna e flora?
              </p>
              <a href="/encarar-o-surf">Saiba mais</a>
            </div>
            <!--text-most-read-single-->
          </div>
          <!--most-read-news-single-->
          <div class="most-read-news-single">
            <img src="../public/images/nature.png" alt="" />
            <div class="text-most-read-single">
              <h4>NATUREZA</h4>
              <p>
                A importância da floresta do ártico para a biodiversidade
                mundial. Qual o impacto o degelo na fauna e flora?
              </p>
              <a href="/encarar-o-surf">Saiba mais</a>
            </div>
            <!--text-most-read-single-->
          </div>
          <!--most-read-news-single-->
          <div class="most-read-news-single">
            <img src="../public/images/nature.png" alt="" />
            <div class="text-most-read-single">
              <h4>NATUREZA</h4>
              <p>
                A importância da floresta do ártico para a biodiversidade
                mundial. Qual o impacto o degelo na fauna e flora?
              </p>
              <a href="/encarar-o-surf">Saiba mais</a>
            </div>
            <!--text-most-read-single-->
          </div>
          <!--most-read-news-single-->
        </div>
        <!--most-read-news-->
      </div>
      <!--most-read-->
    </div>
    <!--center-->
  </div>
  <!--title-other-news-->
</section>
<!--other-news-->

<%- include('partials/footer.html') %>
