<%- include('partials/header.html') %>

<section class="other-news">
  <div class="title-other-news">
    <h2>Busca</h2>
    <br /><br />
    <div class="center">
      <div style="width: 100%" class="most-read">
        <h3><%= contagem %> resultados</h3>
        <div class="most-read-news">
          <% for(let i = 0; i < posts.length; i++) { %>
          <div class="most-read-news-single">
            <img src="<%= posts[i].imagem %>" alt="" />
            <div class="text-most-read-single">
              <h4><%= posts[i].titulo %></h4>
              <p><%- posts[i].descricaoCurta %>...</p>
              <a href="<%= posts[i].slug %>">Saiba mais</a>
            </div>
            <!--text-most-read-single-->
          </div>
          <!--most-read-news-single-->
          <% } %>
        </div>
        <!--most-read-news-->
      </div>
      <!--most-read-->
    </div>
    <!--center-->
  </div>
  <!--title-other-news-->
</section>
<!--other-news-->

<%- include('partials/footer.html') %>
