<%- include('partials/header.html') %>

<section class="featured-news">
  <div class="center">
    <div class="img-featured">
      <div class="overlay-featured"></div>
      <div class="title-featured-description">
        <a href="<%= posts[0].slug %>"><h2><%= posts[0].titulo %></h2> </a>
        <p><%- posts[0].descricaoCurta %>...</p>
      </div>
      <!--title-featured-description-->
      <img src="<%= posts[0].imagem %>" alt="lake.png" />
    </div>
    <!--img-featured-->
  </div>
  <!--center-->
</section>
<!--featured-news-->

<section class="other-news">
  <div class="title-other-news">
    <h2>Últimas Notícias</h2>
    <br /><br />
    <div class="center">
      <div class="latest">
        <% for(let i = 1; i < posts.length; i++) { %>
        <div class="box-latest-single">
          <img src="<%= posts[i].imagem %>" alt="" />
          <div class="container-news-single">
            <h3><%= posts[i].categoria %></h3>
            <h2><%= posts[i].titulo %></h2>
            <p><%- posts[i].descricaoCurta %></p>
            <a href="<%= posts[i].slug %>">Saiba mais</a>
          </div>
        </div>
        <!--box-latest-single-->
        <% } %>
      </div>
      <!--latest-->
      <div class="most-read">
        <h3>Mais lidas</h3>
        <div class="most-read-news">
          <% for(let i = 0; i < postsTop.length; i++) { %>
          <div class="most-read-news-single">
            <img src="<%= postsTop[i].imagem %>" alt="" />
            <div class="text-most-read-single">
              <h4><%= postsTop[i].titulo %></h4>
              <p>
                <%- postsTop[i].descricaoCurta %>... -
                <span style="font-size: 12px; font-weight: bold"
                  >(<%= postsTop[i].views%> views)</span
                >
              </p>
              <a href="<%= postsTop[i].slug %>">Saiba mais</a>
            </div>
            <!--text-most-read-single-->
          </div>
          <% } %>
          <!--most-read-news-single-->
        </div>
        <!--most-read-news-->
      </div>
      <!--most-read-->
    </div>
    <!--center-->
  </div>
  <!--title-other-news-->
</section>
<!--other-news-->

<%- include('partials/footer.html') %>
