<%- include('partials/header.html') %>

<section class="news">
  <div class="center">
    <div class="news-single">
      <h2><%= noticia.titulo %></h2>
      <div class="author-name"><span>POR <%= noticia.author %></span></div>
      <!--author-name-->
      <br />
      <div>
        <img style="max-width: 100%" src="<%= noticia.imagem %>" alt="" />
      </div>
      <br />
      <%- noticia.conteudo %>
    </div>
    <!--news-single-->
    <div class="most-read">
      <h3>Mais lidas</h3>
      <div class="most-read-news">
        <% for(let i = 0; i < postsTop.length; i++) { %>
        <div class="most-read-news-single">
          <img src="<%= postsTop[i].imagem %>" alt="" />
          <div class="text-most-read-single">
            <h4><%= postsTop[i].titulo %></h4>
            <p>
              <%- postsTop[i].descricaoCurta %>... -
              <span style="font-size: 12px; font-weight: bold"
                >(<%= postsTop[i].views%> views)</span
              >
            </p>
            <a href="<%= postsTop[i].slug %>">Saiba mais</a>
          </div>
          <!--text-most-read-single-->
        </div>
        <% } %>
        <!--most-read-news-single-->
      </div>
      <!--most-read-news-->
    </div>
    <!--most-read-->
  </div>
</section>

<%- include('partials/footer.html') %>
